.flex_grid {
    border: none; /* Set the border as none since each grid will have its own border */
}

.grid {
    border: 1px solid black; /* The border of the grid must be 1px black */
}
  
/* min-width is set as 360px so that the 1x4 flexible grid becomes 4x1 grid */
@media screen and (min-width: 360px) {
    .flex_grid {
        display: grid; /* Generates a block level grid */
        grid-template-columns: repeat(2, 50%); /* Defining the size of 2 columns using repeat */
    }
}

/* min-width is set as 720px so that the 1x4 flexible grid becomes a 2x2 grid */
@media screen and (min-width: 720px) {
    .flex_grid {
        display: grid; /* Generates a block level grid */
        grid-template-columns: repeat(4, 25%); /* Defining the size of 4 columns using repeat*/
    }
}